@page "/cart"
@inject ShoppingCart ShoppingCart
@inject NavigationManager NavigationManager

<PageTitle>Cart - Cheese Trap</PageTitle>

@if (ShoppingCart.Count() == 0)
{
    <h3>Shopping Cart</h3>
    <p>Your cart is empty</p>
    <div>
        <button @onclick="GoToStore" class="btn btn-outline-primary"> Back to cheeses</button>
    </div>
}
else
{
    <div class="d-flex justify-content-between">
        <div>
            <h3>Shopping Cart</h3>
        </div>
        <div>
            <a @onclick="GoToCheckout" class="btn btn-outline-primary">Checkout</a>
        </div>
    </div>

    <CartSummary IsEditable="true"/>
}

@code {
    protected override void OnInitialized()
    {
        ShoppingCart.OnCartUpdated += StateHasChanged;
    }

    private void GoToStore()
    {
        NavigationManager.NavigateTo("/");
    }

    private void GoToCheckout()
    {
        NavigationManager.NavigateTo("/checkout");
    }
}